<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

  </head>
  <body>

    {{! header }}
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          piyushanand="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
            >Dashboard</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link" href="#">{{user.email}}</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">

      {{! Logout }}
      <form action="/user/logout?_method=DELETE" method="post">
        <button
          type="submit"
          class="btn btn-primary btn-block mt-2 mx-auto d-block"
        >Logout</button>
      </form>

      {{user.email}}
      <br />
      <h3 class="share-link">
        <a href="/{{user.username}}">View Your Profile</a>
      </h3>

      <button
        class="btn btn-primary btn-block mt-2 mx-auto d-block"
        id="copy"
        data-clipboard-text=""
        onclick="copyLink('{{user.username}}')"
      >
        Copy to clipboard
      </button>

      {{user.username}}

      {{#each link}}

        <div class="card text-center" style="width: 100%;">

          {{! Edit Button }}
          <form action="links/updateLink/{{this.id}}">
            <button
              type="submit"
              class="btn btn-success btn-block mt-2 d-block top-0 start-0 position-absolute m-2"
            >Edit</button>
          </form>

          {{! delete Button }}
          <form
            action="links/deleteLink/{{this.id}}?_method=DELETE"
            method="post"
          >
            <button
              type="submit"
              class="btn btn-danger btn-block mt-2 d-block top-0 end-0 position-absolute m-2"
            >Delete</button>
          </form>

          <div class="card-body">
            <h5 class="card-title">{{this.link.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.link.url}}</h6>
            <p class="card-text">{{this.link.description}}</p>
            {{#if this.isPrivate}}
              <p class="card-text text-monospace text-info">Private</p>
            {{else}}
              <p class="card-text text-monospace text-info">Public</p>
            {{/if}}
            <a href="/links/LinkStats/{{this.id}}" class="card-link">More Info</a>
          </div>
        </div>

        <br />

      {{/each}}

    </div>

  </body>

  <script async defer src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"
  ></script>

  <script>
    new ClipboardJS('.btn');
  </script>

  <script>
    function copyLink(username) { var copyText = window.location.origin +
    '/username';
    document.getElementById("copy").setAttribute("data-clipboard-text",
    copyText); }

  </script>

</html>