<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{link.title}} | Stats</title>
  </head>
  <body>

    <h3>Title : {{link.title}} </h3>
    <h3>URL : {{link.url}} </h3>
    <h3>Description :
      {{#if link.description}}
        {{link.description}}
      {{else}}
        No Description
      {{/if}}
    </h3>
    <h3>Clicks : {{link.clicks}} </h3>

    <h3>Created At : {{link.created_at}}</h3>

    <h3>Updated At : {{link.updated_at}}</h3>

    <h3>
      {{#if link.isPrivate}}
        Private
      {{else}}
        Public
      {{/if}}
    </h3>

  </body>

</html>