<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

  </head>
  <body>

    {{! header }}
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          piyushanand="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
            >Dashboard</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link" href="#">{{user.email}}</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">

      {{#if userData.displayImage}}
        <img
          src="{{userData.displayImage}}"
          alt="{{userData.username}}"
          class="img-fluid img-thumbnail rounded-circle mx-auto d-block"
          style="width: 200px; height: 200px;"
        />
      {{else}}
        <img
          src="https://avatars.dicebear.com/api/initials/{{user.username}}.svg?radius=50&dataUri=true&size=200"
          alt="{{userData.username}}"
          class="img-fluid img-thumbnail rounded-circle mx-auto d-block"
          style="width: 200px; height: 200px;"
        />
      {{/if}}

      <br />

      <div>
        Username:
        {{userData.username}}
      </div>
      <div>
        Display Name:
        {{userData.displayName}}
      </div>
      <div>
        Display Cover:
        {{userData.displayCover}}
      </div>
      <div>
        Email:
        {{userData.email}}
      </div>
      <div>
        Account Created:
        {{userData.created_at}}
      </div>
      <div>
        Last Updated:
        {{userData.updated_at}}
      </div>
      <div>
        {{#if userData.is_verified}}
          Email Verified: Yes
        {{else}}
          Email Verified: No
        {{/if}}
      </div>

      <span>
        {{userData.link_counter}}
        Links Created
      </span>

    </div>

  </body>

  <script async src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"
  ></script>

  <script>
    {{! $('#exampleModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus') }) }}
  </script>

  <script>
    new ClipboardJS('.btn');
  </script>

</html>