<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Link</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="col-md-5 col-md-offset-4 mx-auto m-auto p-auto">
          <h1>Edit Link</h1>

          <form action="/links/updateLink/{{link.id}}" method="POST">

            {{!-- {{link}} --}}

            {{#if error}}
              <div class="alert alert-danger text-center mx-auto" role="alert">
                {{error}}
                !
              </div>
            {{/if}}

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                name="title"
                placeholder="Enter Title"
                value="{{link.link.title}}"
              />
              <label for="floatingInput">Edit Title</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="url"
                class="form-control"
                id="floatingInput"
                name="url"
                placeholder="Enter URL"
                value="{{link.link.url}}"
              />
              <label for="floatingInput">Edit URL</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                name="description"
                placeholder="Enter Description"
                value="{{link.link.description}}"
              />
              <label for="floatingInput">Edit Description</label>
            </div>

            {{#if link.isPrivate}}
              <div>
                <label>
                  This is a Private Link
                </label>
              </div>

            {{else}}
              <div>

                <label>
                  This is a Public Link
                </label>
              </div>

            {{/if}}

            {{#if link.isPrivate}}

              <div class="form-check form-switch">
                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                >Make it Public
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  name="isPrivate"
                  value="false"
                  id="flexSwitchCheckDefault"
                />

              </div>
            {{else}}
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  name="isPrivate"
                  value="true"
                  id="flexSwitchCheckDefault"
                />

                <label
                  class="form-check-label"
                  for="flexSwitchCheckDefault"
                >Make it Private
                </label>
              </div>
            {{/if}}

            <button
              type="submit"
              class="btn btn-primary btn-block mt-2 mx-auto d-block"
            >Add Link</button>
          </form>
        </div>
      </div>
    </div>

  </body>

  <script async defer src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</html>