<head>
    <link rel="stylesheet" href="../../css/partials/header.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="/">Link Keeper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item active">
                <a class="nav-link text-dark" href="#">Home<span class="sr-only">(current)</span></a>
            </li> --}}
        </ul>

        <div class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                {{#if user.displayImage}}
                <img alt="Profile Picture" class="border-2 rounded-circle border border-success" width="30px"
                    height="30px" src="{{user.displayImage}}" />
                {{else}}
                {{#if user.displayName}}
                <img src="https://api.dicebear.com/5.x/thumbs/svg?seed={{user.displayName}}" alt="Profile Picture"
                    class="rounded-circle border border-success" width="30px" height="30px" />
                {{else}}
                <img src="https://api.dicebear.com/5.x/thumbs/svg?seed={{user.username}}" alt="Profile Picture"
                    class="border-2 rounded-circle border border-success" width="30px" height="30px" />
                {{/if}}

                {{/if}}
            </a>
            <div class="dropdown-menu mx-auto" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="/user/profile/{{user._id}}">{{user.username}}</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="/user/profile/{{user._id}}">Show Profile</a>
                <a class="dropdown-item" href="#">Edit Profile</a>

            </div>


        </div>

        <form action="/user/logout?_method=DELETE" class="navbar-btn navbar-right m-0 text-end" method="post">
            <button type=" submit" class="btn btn-default btn-danger btn-space navbar-btn navbar-right">Logout</button>
        </form>
    </div>
</nav>